.ion-page, .ion-page ion-content {
  --background: linear-gradient(to top right, purple, blue);
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-modal {
  --background: transparent; /* Transparent background */
  backdrop-filter: blur(10px)  !important;; /* Blurry effect */
  --width:100% !important;
  --height:100% !important;
  position: fixed; /* Fixed to viewport */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Make sure it's on top of other elements */
}

.custom-modal > *, .custom-modal> * > *{
  background: transparent; /* Transparent background */
  backdrop-filter: blur(10px); /* Blurry effect */
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-modal ion-header, .custom-modal ion-content {
  --ion-background-color: transparent !important;/* Transparent backgrounds */
  backdrop-filter: blur(10px) !important; /* Blurry effect */
}

.custom-modal .ion-page, .custom-modal .ion-page ion-content {
  --background: transparent !important;
  backdrop-filter: blur(10px) !important;
}

.custom-modal ion-icon,
.custom-modal ion-title,
.custom-modal ion-button,
.custom-modal ion-col  {
  color: white;
}

